{
  "extends": "stylelint-config-recommended-scss",
  "plugins": ["stylelint-csstree-validator"],
  "rules": {
    "csstree/validator": {
      "ignore": ["composes", "background-image"]
    },
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["global"]
      }
    ]
  }
}
