body {
  height: 100vh;
}

.root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    padding-top: 25px;
  }
}

.App {
  display: flex;
  justify-content: center;

  &:global(.columns) {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: 0;
  }

  h2:not(:last-child),
  h1:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  :global .tag {
    margin-left: 5px;

    &:first-of-type {
      margin-left: 15px;
    }
  }
}

section {
  padding: 15px 30px;
}

a {
  color: $APP_COLOR;
}

img {
  max-width: 100%;
}

:global .checkbox {
  display: block;

  input[type='checkbox'],
  input[type='radio'] {
    margin-right: 10px;
  }
}

pre {
  border-left: 4px solid $APP_COLOR;

  & > code {
    display: block;
    padding: 0.5em;
  }
}

p > code {
  padding: 0.5em;
  font-size: 85%;
  line-height: 40px;
  border-radius: 3px;
  white-space: normal;
}

p {
  img[alt='caption'] {
    display: block;
    margin: auto;
  }

  img + em {
    display: block;
    text-align: center;
    margin: auto;
  }
}

:global .highlighted-line {
  display: block;
  margin: 0 -1rem;
  padding: 0 1rem;
  color: white;

  .hljs-title,
  .hljs-keyword {
    color: white;
  }
}
