body {
  height: 100vh;
}

.root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;

  &:global(.columns) {
    padding-top: 35px;
    padding-bottom: 45px;
    margin: 0;
  }
}

section {
  padding: 15px 30px;
}

a {
  color: $APP_COLOR;
}

img {
  max-width: 100%;
}

:global .navbar {
  background-color: $APP_COLOR;

  a {
    color: white;

    &:hover,
    &:active {
      color: grey;
      opacity: 0.4;
    }
  }
}

:global .checkbox {
  display: block;

  input[type='checkbox'],
  input[type='radio'] {
    margin-right: 10px;
  }
}

pre {
  border-left: 4px solid $APP_COLOR;

  & > code {
    display: block;
    padding: 0.5em;
  }
}

p > code {
  padding: 0.5em;
  font-size: 85%;
  line-height: 40px;
  border-radius: 3px;
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:not(:first-child) {
    padding-top: 25px;
  }
}
