.nav {
  :global .nav-container {
    max-width: 1500px;
  }
}

.github {
  display: flex;
  color: white;
  align-items: center;

  a {
    padding: 0 15px;
  }
}

.logo {
  height: 40px;
  padding-right: 15px;
}
