.nav {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.github {
  display: flex;
  color: white;
  align-items: center;

  a {
    padding: 0 15px;
  }
}

.logo {
  height: 52px;
  padding: 10px 0px;
  margin: auto;
}

.title {
  font-size: 23px;
}
