.icon {
  padding-left: 15px;
}

.nav {
  z-index: 2;
}

.container {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (min-width: 1500px) {
    max-width: 1344px;
    width: 1344px;
    margin: auto;
  }
}

.title {
  font-size: 20px;
  padding: 0;
  padding-right: 50px;
}

.titleText {
  padding: 0;
}

.titleText:only-child {
  padding-left: 1rem;
}

:global .navbar {
  background-color: $APP_COLOR;
  border-radius: 0;

  .navbar-menu {
    border-radius: 0;
  }

  .navbar-menu.is-active .navbar-item {
    text-align: center;
  }
}
