version: 2

general:
  artifacts:
    - coverage/

defaults: &defaults
  working_directory: ~/Ignite
  docker:
    - image: circleci/node:latest-browsers
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys: 
            # Find a cache corresponding to this specific package.json checksum
            # when this file is changed, this key will fail
            - ignite-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
            - ignite-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - ignite-{{ .Branch }}
            # Find the most recent cache used from any branch
            - ignite-master
            - ignite-
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Build Library
          command: yarn build:lib
      - save_cache:
          key: ignite-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - ~/.cache/yarn
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
              - .
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/Ignite   
      - run:
          name: Lint
          command: yarn lint
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/Ignite 
      - run:
          name: Test
          command: yarn test --ci
          environment:
            JEST_JUNIT_OUTPUT: "coverage/junitjunit.xml"
      - store_test_results:
          path: coverage/junit
      - store_artifacts:
          path: coverage/junit
      - run:
          name: Send CodeCov Results
          command: bash <(curl -s https://codecov.io/bash) -t $CODECOV_KEY
  automationTest:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/Ignite 
      - run:
          name: Test
          command: yarn test:automation
  publishLibrary:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/Ignite 
      - run: mkdir ~/.ssh && ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish Library
          command: npm run release
  publishCanary:
    <<: *defaults
    steps: 
      - attach_workspace:
           at: ~/Ignite
      - run: mkdir ~/.ssh && ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: 
          name: Version Canary
          command: npm version --no-git-tag-version ${npm_package_version}-alpha-$(echo $CIRCLE_SHA1 | cut -c 1-5)
      - run:
          name: Publish Canary
          command: npm publish --tag PR
  publishDocs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/Ignite 
      - run:
          name: Publish Docs
          command: yarn publish:docs

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - lint:
          requires:
              - build
          filters:
            tags:
              only: /.*/
      - test:
          requires:
              - build
          filters:
            tags:
              only: /.*/
      - automationTest:
          requires:
              - build
          filters:
            tags:
              only: /.*/
      - publishCanary:
          requires:
              - lint
              - test
              - automationTest
          filters:
            branches:
              ignore: /master/
      - publishLibrary:
          requires:
              - lint
              - test
              - automationTest
          filters:
            branches:
              only:
                - master
      - publishDocs:
          requires:
              - publishLibrary
          filters:
            branches:
              only:
                - master
