.contentArea {
  flex: 1;
  margin: auto;
  max-width: 1800px;
  width: 100%;
}

.content {
  width: 100%;
  margin: 0 auto 15px;
  padding-top: 0;
  padding-top: 3rem;
  padding-bottom: 5rem;

  details {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 769px) {
    max-width: 950px;
  }
}

.Page {
  padding-left: 45px;
  padding-right: 45px;
}
