body {
  height: 100vh;
}

.root {
  height: 100%;
}

.App {
  min-height: calc(100% - 173px);
  display: grid;
}

footer {
  background-color: #b9b6b6;
}

img {
  max-width: 100%;
}

code {
  padding: 0.5em;
  line-height: 40px;
}

pre > code {
  display: block;
  line-height: initial;
}
