body {
  height: 100vh;
}

nav {
  background-color: #f44336;
}

a {
  color: #f44336;
}

nav a {
  color: white;
}

footer {
  background-color: #b9b6b6;
}

img {
  max-width: 100%;
}

pre {
  border-left: 4px solid #f44336;
}

p > code {
  padding: 0.5em;
  line-height: 40px;
  font-size: 85%;
  border-radius: 3px;
  white-space: normal;
}

pre > code {
  display: block;
  padding: 0.5em;
  line-height: initial;
}

.root {
  height: 100%;
}

.App {
  min-height: calc(100% - 173px);
}
