.root {
  padding: 0;

  li {
    list-style: none;
    margin: 10px 0;
    white-space: nowrap;

    a {
      padding: 7px;
    }
  }
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  position: sticky;
  top: 0px;

  section {
    padding-left: 0;
  }

  ul {
    margin: 0;
  }

  ul ul {
    padding-left: 15px;

    li:before {
      content: '\2501';
    }
  }

  section > ul > li > ul > li:last-of-type {
    padding-bottom: 15px;
  }
}

:global .activeSidebar {
  background-color: $APP_COLOR;
  color: white;
  border-radius: 3px;
}
